body{
    background-color: #1F9FA7;
}
.navbar{
    background-color: #388186;
}
.footer-bottom {
    width: 100%;
    height: 35px;
    color: #adadad;
    background: black;
    text-align: center;
    padding: 5px;
}
.footer-content .content-about h2 {
    font-weight: 300;
    color: #F19800;
}
#contact {
    background-color: #505050;
    margin-top: 40px;
}
.link {
    font-size: 20px;
    text-decoration: none;
}
.contact {
    font-size: 20px;
}